Repository googleapis/nodejs-video-live-stream, pull requests merged in 2022-05, with the labels that each got.

#28 docs: add Live Stream samples and tests
  README.md
  samples/README.md
  samples/createChannel.js
  samples/createChannelEvent.js
  samples/createInput.js
  samples/deleteChannel.js
  samples/deleteChannelEvent.js
  samples/deleteInput.js
  samples/getChannel.js
  samples/getChannelEvent.js
  samples/getInput.js
  samples/listChannelEvents.js
  samples/listChannels.js
  samples/listInputs.js
  samples/package.json
  samples/startChannel.js
  samples/stopChannel.js
  samples/test/livestream.test.js
  samples/updateChannel.js
  samples/updateInput.js
Labels: samples, api: livestream, size: xl

#30 add sample for creating a channel with backup input
  README.md
  samples/README.md
  samples/createChannelWithBackupInput.js
  samples/test/livestream.test.js
Labels: automerge, samples, api: livestream, size: m

#35 feat!: upgrade library to stable
  .repo-metadata.json
  README.md
Labels: api: livestream, size: s
